*{
 margin: 0;
 padding: 0;
 background-color: ;   
}

.navbar{
    display: flex;
    justify-content: space-between;
    margin: 2% 2%;
    padding: 1%;
}

.navtitle{
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: normal;
    font-size: 32px;
}

.navbtn{
    margin: 0;
    padding: 5px 20px;
    border: 1px solid rgb(1, 39, 1);
    border-radius: 5px;
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    color: rgb(76, 1, 76);
}

.bannar{
    margin: 5px 20px;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    text-align:justify ;
    align-items: center;
    background-color: #C6E4D6;
    justify-items: center;
    border-radius: 15px;
}

.bnrtxt{
    width: 600px;
    font-family:"Fira Sans", serif;
}

.bnrtxt h4{
    font-size: 25px;
    color: rgba(0, 0, 0, 0.463);
}

.bnrtxt h1{
    font-size: 50px;
}

.bnrbtn{
    margin: 20px;
    padding: 10px 20px;
    font-family: "Fira Sans", serif;
    font-size: 18px;
    color: #ffffff;
    background-color: #006A50;
    border-radius: 10px;
    box-shadow: 5px 5px #006a505b;
    border:none;
}


