*{
 margin: 0;
 padding: 0;
 font-family: "Fira Sans", serif; 
}

body{
    background-color: #f1f1f3;
}


.navbar{
    display: flex;
    justify-content: space-between;
    margin: 2% 2%;
    padding: 1%;
}

.navtitle{
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: normal;
    font-size: 32px;
}

.navbtn{
    margin: 0;
    padding: 5px 20px;
    border: 1px solid rgb(1, 39, 1);
    border-radius: 5px;
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    color: rgb(76, 1, 76);
}

.bannar{
    margin: 5px 20px;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    text-align:justify ;
    align-items: center;
    background-color: #C6E4D6;
    justify-items: center;
    border-radius: 15px;
}

.bnrtxt{
    width: 600px;
    font-family:"Fira Sans", serif;
}

.bnrtxt h4{
    font-size: 25px;
    color: rgba(0, 0, 0, 0.463);
}

.bnrtxt h1{
    font-size: 50px;
}

.bnrbtn{
    margin: 20px;
    padding: 10px 20px;
    font-family: "Fira Sans", serif;
    font-size: 18px;
    color: #ffffff;
    background-color: #006A50;
    border-radius: 10px;
    box-shadow: 5px 5px #006a505b;
    border:none;
}
.bnrbtn:hover{
    background-color: #013a2c;
}

.cardgroup{
   display: flex;
   margin: 15px 15px;
   justify-content: center;
}

.card{
    margin: 15px;
    padding: 20px 20px;
    width: 300px;
    height: 250;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 2px 2px 20px lightgrey;
}
.card:hover{
    width: 296px;
    border: solid 2px rgb(254, 229, 0);
}

.card img, h4, p, button{
    margin: 5px;
    padding: 5px;
}

#vcard1{
    background-color: #548ff554;
    padding: 20px;
    margin: 10px;
    box-shadow: 2px 2px 20px lightgrey;
    border-radius:15px ;

}

#vcard1 button{
    background-color: #548ff587;
    border: none;
    padding: 15px 25px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 400;
}

#vcard1 button:hover{
    background-color: #548ff5;
}

#vcard2{
    background-color: #09a15d3c;
    padding: 20px;
    margin: 10px;
    box-shadow: 2px 2px 20px lightgrey;
    border-radius:15px ;

}

#vcard2 button{
    background-color: #09a15d8f;
    border: none;
    padding: 15px 25px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 400;
}

#vcard2 button:hover{
    background-color: #09A15C;
}


#vcard3{
    background-color: #ffc4393a;
    padding: 20px;
    margin: 10px;
    box-shadow: 2px 2px 20px lightgrey;
    border-radius:15px ;

}

#vcard3 button{
    background-color: #ffc439a2;
    border: none;
    padding: 15px 25px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 400;
}

#vcard3 button:hover{
    background-color: #FFC239;
}

