*{
 margin: 0;
 padding: 0;   
}

.navbar{
    display: flex;
    justify-content: space-between;
    margin: 2% 2%;
    padding: 1%;
}

.navtitle{
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: normal;
}

.navbtn{
    margin: 0;
    padding: 2px 10px;
    border: 1px solid rgb(1, 39, 1);
    border-radius: 5px;
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    color: rgb(76, 1, 76);
}